<footer class="footer bg-dark text-center text-lg-start">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p class="text-light">
          You can check out the source code for this website <a class="footer-link"
            href="https://github.com/richardfazzio/games" target="_blank">here</a> - 
            Made by <a class="footer-link" href="https://github.com/richardfazzio">Richard
              Fazzio.</a>
        </p>
        </div>  
    </div>
  </div>
</footer>
