.game-container {
  padding-top: 0.5rem;

  .board {
    height: 42rem;
    width: 42rem;
  }

  .btn-dark {
    &:hover {
      cursor: pointer;
    }
  }
}

.sound-radio-button {
  input {
    background-color: pink;
    color: green;
  }
}