<main class="d-flex justify-content-center pt-5">
    <div class="game-container">
        <app-board class="row board"></app-board>
        <div class="row">
            <div class="container game-status pt-3">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="text">{{statusText}} </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm d-flex justify-content-center align-items-center pt-3">
                        <button class="btn btn-dark" (click)="resetBoard()">Reset Board</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>